In [1]:
import numpy as np
import pandas as pd
import mysql.connector

In [2]:
coins = pd.read_csv('coins_200.csv')

In [3]:
coins.head()

,Rank,Name,Symbol,MainLink,HistoricalLink,Git_hub,Tags
0,1,Bitcoin,BTC,https://coinmarketcap.com/currencies/bitcoin/,https://coinmarketcap.com/currencies/bitcoin/h...,https://github.com/bitcoin/bitcoin,"Mineable,PoW,SHA-256"
1,2,Ethereum,ETH,https://coinmarketcap.com/currencies/ethereum/,https://coinmarketcap.com/currencies/ethereum/...,https://github.com/ethereum/wiki/wiki/White-Paper,"PoS,Smart Contracts,Ethereum Ecosystem"
2,3,Tether USDt,USDT,https://coinmarketcap.com/currencies/tether/,https://coinmarketcap.com/currencies/tether/hi...,NaN,"Payments,Stablecoin,Asset-Backed Stablecoin"
3,4,BNB,BNB,https://coinmarketcap.com/currencies/bnb/,https://coinmarketcap.com/currencies/bnb/histo...,https://github.com/bnb-chain,"Marketplace,Centralized Exchange (CEX) Token,P..."
4,5,XRP,XRP,https://coinmarketcap.com/currencies/xrp/,https://coinmarketcap.com/currencies/xrp/histo...,https://github.com/ripple/rippled,"Medium of Exchange,Enterprise Solutions,Arring..."

Making table Coins_information

In [4]:
coins_information = pd.DataFrame()

for i in range(coins.shape[0]):
    coin_name = coins["Name"][i]
    tail_of_csv_file_name = "_9_3_2022-9_3_2023_historical_data_coinmarketcap.csv"
    csv_name = "csvs\\" + coin_name + tail_of_csv_file_name 
    coin_detail = pd.read_csv(csv_name , delimiter=";")
    #adding symbol 
    symbol = coins["Symbol"][i]
    symbol_col =[symbol for j in range(coin_detail.shape[0])] 
    coin_detail.insert(loc = 0,
                       column = "Symbol",
                       value = symbol_col)
    coin_detail["circulatingSupply"] =coin_detail["marketCap"]/coin_detail["close"]
    coins_information = pd.concat([coins_information ,coin_detail])


coins_information["circulatingSupply"] =coins_information["marketCap"]/coins_information["close"]
coins_information

,Symbol,timeOpen,timeClose,timeHigh,timeLow,open,high,low,close,volume,marketCap,timestamp,circulatingSupply
0,BTC,2023-09-02T00:00:00.000Z,2023-09-02T23:59:59.999Z,2023-09-02T15:41:00.000Z,2023-09-02T03:22:00.000Z,25800.909609,25970.284489,25753.093847,25868.798140,1.010039e+10,5.037864e+11,2023-09-02T23:59:59.999Z,1.947468e+07
1,BTC,2023-09-01T00:00:00.000Z,2023-09-01T23:59:59.999Z,2023-09-01T12:24:00.000Z,2023-09-01T17:42:00.000Z,25934.020806,26125.869774,25362.609128,25800.724373,1.720286e+10,5.024359e+11,2023-09-01T23:59:59.999Z,1.947371e+07
2,BTC,2023-08-31T00:00:00.000Z,2023-08-31T23:59:59.999Z,2023-08-31T11:43:00.000Z,2023-08-31T21:09:00.000Z,27301.929317,27456.079001,25752.929947,25931.472893,2.018100e+10,5.049576e+11,2023-08-31T23:59:59.999Z,1.947277e+07
3,BTC,2023-08-30T00:00:00.000Z,2023-08-30T23:59:59.999Z,2023-08-30T00:21:00.000Z,2023-08-30T15:04:00.000Z,27726.084034,27760.159397,27069.207425,27297.265348,1.634366e+10,5.315289e+11,2023-08-30T23:59:59.999Z,1.947188e+07
4,BTC,2023-08-29T00:00:00.000Z,2023-08-29T23:59:59.999Z,2023-08-29T16:28:00.000Z,2023-08-29T10:39:00.000Z,26102.485832,28089.338027,25912.628909,27727.393009,2.936839e+10,5.398825e+11,2023-08-29T23:59:59.999Z,1.947109e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,AMP,2022-09-08T00:00:00.000Z,2022-09-08T23:59:59.999Z,2022-09-08T18:30:00.000Z,2022-09-08T13:30:00.000Z,0.005586,0.005695,0.005482,0.005655,7.168563e+06,2.388120e+08,2022-09-08T23:59:59.999Z,4.222770e+10
360,AMP,2022-09-07T00:00:00.000Z,2022-09-07T23:59:59.999Z,2022-09-07T20:34:00.000Z,2022-09-07T05:07:00.000Z,0.005548,0.005750,0.005431,0.005594,6.512543e+06,2.362275e+08,2022-09-07T23:59:59.999Z,4.222770e+10
361,AMP,2022-09-06T00:00:00.000Z,2022-09-06T23:59:59.999Z,2022-09-06T00:59:00.000Z,2022-09-06T22:37:00.000Z,0.005998,0.006069,0.005559,0.005566,7.139461e+06,2.350460e+08,2022-09-06T23:59:59.999Z,4.222770e+10
362,AMP,2022-09-05T00:00:00.000Z,2022-09-05T23:59:59.999Z,2022-09-05T00:08:00.000Z,2022-09-05T19:55:00.000Z,0.006053,0.006109,0.005950,0.005997,3.840475e+06,2.532284e+08,2022-09-05T23:59:59.999Z,4.222770e+10
363,AMP,2022-09-04T00:00:00.000Z,2022-09-04T23:59:59.999Z,2022-09-04T21:16:00.000Z,2022-09-04T10:34:00.000Z,0.006017,0.006075,0.005996,0.006053,3.193905e+06,2.555903e+08,2022-09-04T23:59:59.999Z,4.222770e+10

Making table Coins200

In [5]:
Coins200 = coins[["Rank","Name","Symbol","MainLink","HistoricalLink","Git_hub"]]
Coins200

,Rank,Name,Symbol,MainLink,HistoricalLink,Git_hub
0,1,Bitcoin,BTC,https://coinmarketcap.com/currencies/bitcoin/,https://coinmarketcap.com/currencies/bitcoin/h...,https://github.com/bitcoin/bitcoin
1,2,Ethereum,ETH,https://coinmarketcap.com/currencies/ethereum/,https://coinmarketcap.com/currencies/ethereum/...,https://github.com/ethereum/wiki/wiki/White-Paper
2,3,Tether USDt,USDT,https://coinmarketcap.com/currencies/tether/,https://coinmarketcap.com/currencies/tether/hi...,NaN
3,4,BNB,BNB,https://coinmarketcap.com/currencies/bnb/,https://coinmarketcap.com/currencies/bnb/histo...,https://github.com/bnb-chain
4,5,XRP,XRP,https://coinmarketcap.com/currencies/xrp/,https://coinmarketcap.com/currencies/xrp/histo...,https://github.com/ripple/rippled
...,...,...,...,...,...,...
195,196,PlayDapp,PLA,https://coinmarketcap.com/currencies/playdapp/,https://coinmarketcap.com/currencies/playdapp/...,https://github.com/playdapp
196,197,Pundi X (New),PUNDIX,https://coinmarketcap.com/currencies/pundix-new/,https://coinmarketcap.com/currencies/pundix-ne...,NaN
197,198,Vulcan Forged PYR,PYR,https://coinmarketcap.com/currencies/vulcan-fo...,https://coinmarketcap.com/currencies/vulcan-fo...,NaN
198,199,Status,SNT,https://coinmarketcap.com/currencies/status/,https://coinmarketcap.com/currencies/status/hi...,https://github.com/status-im
199,200,Amp,AMP,https://coinmarketcap.com/currencies/amp/,https://coinmarketcap.com/currencies/amp/histo...,https://github.com/amptoken

Making table Tags

In [6]:
Tags = pd.read_csv('Tags.csv')
Tags

     Tags_Id                        Tags
0          1               AI & Big Data
1          2  Alameda Research Portfolio
2          3      Algorithmic Stablecoin
3          4      Alleged SEC Securities
4          5             Aptos Ecosystem
..       ...                         ...
121      122                         X11
122      123               XDC Ecosystem
123      124            Yield Aggregator
124      125               Yield Farming
125      126       Zero Knowledge Proofs

[126 rows x 2 columns]

Making table coin_tags

In [7]:
coin_tags = pd.DataFrame()
for i in range(coins.shape[0]):
    symbol = coins["Symbol"][i]
    #print(type(coins["Tags"][i]))
    try:
        tags = (coins["Tags"][i]).split(",")
        num_tags = len(tags)
        symbol_col = [symbol for j in range(num_tags)]
        tags_col = list()
        for tag in tags :
            temp = Tags[Tags["Tags"]==tag]
            temp = temp["Tags_Id"]
            tag_id = temp.iloc[0]
            tags_col.append(tag_id)
    except :
        tags_col = ["nan"]
        symbol_col = [symbol]
        

    
    data = {"Symbol":symbol_col,"Tag_Id":tags_col}
    coin_tag = pd.DataFrame(data= data)
    coin_tags = pd.concat([coin_tags,coin_tag])

In [8]:
coin_tags

   Symbol Tag_Id
0     BTC     78
1     BTC     91
2     BTC     99
0     ETH     90
1     ETH    104
..    ...    ...
0     SNT     74
1     SNT     29
2     SNT     95
0     AMP     98
1     AMP      4

[560 rows x 2 columns]

In [9]:
#connect to mysql database

my_user = 'iliyatu' #enter your username of mysql server
my_password = '1123581321' # enter your pass
my_database = 'coinmarket' # enter your db you want to create

yourDB = mysql.connector.connect(user = my_user,
                                 
                                 password = my_password,
                                 auth_plugin='mysql_native_password'
                                )

print('__ Please Wait !')



cursor = yourDB.cursor()
cursor.execute('CREATE DATABASE %s'%(my_database))
cursor.execute('USE %s' % my_database)

print('__ Done !')

__ Please Wait !
__ Done !

Make tables

In [10]:
# make tables

cursor.execute("CREATE TABLE IF NOT EXISTS coins200 (Ra int, Name varchar(60), Symbol varchar(60) PRIMARY KEY , MainLink varchar(255) , HistoricalLink varchar(255),Git_hub varchar(255) )")
cursor.execute("CREATE TABLE IF NOT EXISTS tags (Tag_Id INT PRIMARY KEY , Tag VARCHAR(60)  )")
cursor.execute("CREATE TABLE IF NOT EXISTS coin_tags (Symbol VARCHAR(60),Tag_Id INT , FOREIGN KEY (Symbol) REFERENCES coins200(Symbol) )")
cursor.execute("CREATE TABLE IF NOT EXISTS coins_information (Symbol varchar(60) , timeOpen varchar(255), timeClose varchar(255), timeHigh varchar(255), timeLow varchar(255), open float, high float , low float, close float, volume float, marketCap float, timestamp varchar(255),circulatingSupply float , FOREIGN KEY (Symbol) REFERENCES coins200(Symbol) )")

cursor.execute("ALTER TABLE coin_tags ADD CONSTRAINT tags FOREIGN KEY (Tag_Id) REFERENCES tags(Tag_Id)")
print('__ Done !')

__ Done !

Make table coins200 in mysql

In [11]:
#making table coins200 in mysql

num_of_rows = Coins200.shape[0]

for i in range(num_of_rows):
    
    row =  tuple(Coins200.iloc[i])
    rank , name , symbol , mainlink , historicallink ,git_hub = row
    
    # to declare NaN values
    if type(git_hub) == type(0.5)  :

        cursor.execute("INSERT INTO coins200 (Ra , Name , Symbol , MainLink, HistoricalLink )  VALUES (%s ,'%s','%s','%s','%s')" %(rank,name , symbol ,mainlink, historicallink ))
        continue


    row = str(row)
    cursor.execute("INSERT INTO coins200 VALUES %s" %row)

# after this method -yourDB.commit()-, you can see your data in database
yourDB.commit() 
print('__ Done !')

__ Done !

Make table tags  in mysql

In [12]:
#making table tags  in mysql

num_of_rows = Tags.shape[0]

for i in range(num_of_rows):
   
    row = Tags.iloc[i]
    row = str(tuple(row))
    
    cursor.execute("INSERT INTO tags VALUES %s" %row)

yourDB.commit()
print('__ Done !')

__ Done !

Make table coins_information  in mysql

In [14]:
#making table coins_information  in mysql

num_of_rows = coins_information.shape[0]

for i in range(num_of_rows):
    
    row = coins_information.iloc[i]
    row = str(tuple(row))
    
    cursor.execute("INSERT INTO coins_information VALUES %s" %row)
    
yourDB.commit()
print('__ Done !')

__ Done !

Make table coin_tags

In [15]:
#making table coin_tags 
num_of_rows = coin_tags.shape[0]

for i in range(num_of_rows):
    
    row =tuple( coin_tags.iloc[i])
    symbol , tag_id  = row
    
    #to declare NaN values
    if type(tag_id) != type(1) :
        cursor.execute("INSERT INTO coin_tags(Symbol) VALUES ('%s' )" %(symbol ))
        continue
        
    row = str(tuple(row))
    cursor.execute("INSERT INTO coin_tags VALUES %s" %row)
    
yourDB.commit()
print("done!")

done!

Clean up database

In [ ]:
#clean up database if it is nesseccery
cursor.execute("DROP DATABASE %s" % my_database)

In [ ]:
#finish connection
yourDB.close()